# Ignore node_modules
node_modules/

# Ignore build output
.next/
dist/
build/

# Ignore public files
public/

# Ignore env files
.env*
!.env.example

# Ignore any specific file you don't want Prettier to format
README.md

# Log files
*.log